body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height: 66px;
}

h1{
    color:#0078D7;
    font-size:3em;
    font-weight:normal;
    background-color:black;
    height: 60px;
    padding:0;
    margin-bottom:10px;
    line-height:1em;
}

h2{
    color:#0078D7;
    font-size:1.7em;
    margin-top:10px;
    margin-left:20px;

}
header {
    color:white;
    width:100%;
    background-color:black;
    margin-right:auto;
    margin-left:auto;
 

}

section {
  
    background-image:url(HermanBannersSection1648x527.jpg);
    background-repeat:no-repeat;
    background-color:#151515;
    margin-top:10px;
    margin-right:auto;
    margin-left:auto;
    height: 527px;
    color:white;
    font-size:1.0em;
  

}

section ul{

    list-style-type:none;
}

figure {

    display:block;
    width:220px;
    height:170px;
    text-align:center;
    color:white;
    font-size:1.0em;
}

figure img {
    width:200px;
    height:150px;
}

footer {
    width:100%;
    background-image:url(footer1648x300.jpg);
    background-repeat:no-repeat;
    background-color:#0094fe;
    margin-right:auto;
    margin-left:auto;
    height:300px;


}
nav {
    width:40%;
    margin:0;
    padding:0;
    float:left;

  
}
    nav ul {
        list-style-type:none;
    }
    nav li {
        font-size:1.1em;
        float: left;
        margin-right: 30px;
        margin-left: 0px;
        list-style-type:none;
}

a:link {

    color:white;
    text-decoration:none;

}

a:visited{
    color:white;
}

.entry {
    width:220px;
    float:left;
    margin:10px;
    padding: 15px;
    text-align:center;

}
.wrapper{
    width:900px;
    margin:10px 250px;
 
}
dt{
    margin-left:20px;
}